Source: yoyo-texteditor
Section: devel
Priority: optional
Maintainer: YoyoOS <yoyoos@foxmail.com>
Build-Depends: cmake,
               debhelper (>= 9),
			   libkf5syntaxhighlighting-dev
Standards-Version: 4.5.0
Homepage: https://github.com/yoyoos/texteditor

Package: yoyo-texteditor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: YoyoOS Texteditor
